<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>index</title>
	<link rel="stylesheet"
	      href="http://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	      th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
	<link rel="stylesheet"
	      href="http://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap-theme.min.css"
	      th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap-theme.min.css}"/>	
	<title>register</title>
</head>

<body>

	<h1>ユーザ登録</h1>
	
	<form th:action="@{/user/registerResult}" th:object="${userForm}" method="post">
	ユーザ名：<input type="text" name="name" th:field="*{name}">
	<font color="red"><span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error!</span></font>
	<br>
	パスワード：<input type="password" name="pass" th:field="*{pass}">
	<font color="red"><span th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}">error!</span></font>
	<br>
	<input type="submit" value="登録">
	</form>
	
	<p><a th:href="@{/user/gotoTop}">トップへ戻る</a></p>

</body>
</html>